{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h1 class="my-3">About Us</h1>
    <div class="card my-3 bg-dark ">
        <div class="card-body text-white ">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto rerum asperiores ab! Deserunt sint autem, ipsam molestiae error ratione.</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsa fugit eos quasi minus cupiditate, soluta quisquam optio tempora reprehenderit totam asperiores, repellendus, quo illo ut quas saepe adipisci pariatur facere! Recusandae ullam provident numquam, quaerat ea aut. Omnis, doloremque.</p>
        </div>
    </div>
</div>
{% endblock content %}