<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MiniBlog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {% block css %}{% endblock css %}
    <style>
      body{
        background-color: black;
        color: white;
      }

      {% comment %} form {% endcomment %}
      .form-control{
        background-color: grey;
      }
      .form-control::placeholder{
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="bg-dark">{% include "blog/navbar.html" %}</div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% comment %} Message block {% endcomment %} {% block msg %} 
          {% if messages %}
          <div class="my-2">
            {% for message in messages %} 
            {% if message.tags == 'error' %}
            <div class="errorDiv"
              class="alert alert-danger alert-dismissible fade show d-flex align-items-center gap-1"
              role="alert"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                style="width: 22px"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                />
              </svg>
              {{ message }}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% elif message.tags == 'success' %}
            <div
              class="alert alert-success alert-dismissible fade show d-flex align-align-items-center gap-1"
              role="alert"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                style="width: 22px"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              {{ message }}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% else %}
            <div
              class="alert alert-warning alert-dismissible fade show d-flex align-align-items-center gap-1"
              role="alert"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                style="width: 22px"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z"
                />
              </svg>
              {{ message }}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %} {% endblock msg %}
        </div>
      </div>
      <div class="row">
        {% block side %}{% endblock side %} 
        {% block content %}{% endblock content %}
      </div>
    </div>
    {% block javaScript %}{% endblock javaScript %}
    <script>
      let allInput = document.querySelectorAll("input, textarea");
      allInput.forEach((item) => {
        item.classList.add("form-control");
      });

    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
