{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h1 class="my-3">Contact Us</h1>
    <div class="card my-3 bg-dark ">
        <div class="card-body text-white ">
            <form class="row">
                <div class="col-sm-6 mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder ="Enter your name" >
                </div>
                <div class="col-sm-6 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder ="Enter your email" >
                </div>
                <div class="col-sm-12 mb-3">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" id="address"  placeholder ="Enter your address" >
                </div>
                <div class="col-sm-12 mb-3">
                  <label for="message" class="form-label">Message</label>
                  <textarea class="form-control" id="message"  placeholder ="Enter your message here..." ></textarea>
                </div>
                <div><button type="submit" class="btn btn-primary">Submit</button></div>
              </form>
        </div>
    </div>
</div>
{% endblock content %}