{% extends "blog/base.html" %}
{% load static %}
{% block css %}
<style>
    .django-ckeditor-widget{
        display: block !important;
    }
</style>
{% endblock css %}
{% block side %}{% endblock side %}
{% block content %}
<div class="col-12">
    <h2 class="alert alert-success mt-3 text-center ">Publish a new post</h2>
    <form novalidate method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form %}
            {% for field in form %}
                <div class="mb-2">
                    {{ field.label_tag }} <br class="mb-2">
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            {% comment %} {{ form.as_p }}
            {{ form.media }} {% endcomment %}
        {% endif %}
        <div class="mt-1">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</div>
<div class="col-12">
    <h1 class="my-3">Dashboard</h1>
    <div class="card my-3 bg-dark text-white">
        {% if posts %}
        <table class="table rounded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr class="border border-2 ">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content|safe  }}</td>
                    <td>
                        <a href="{% url 'editPost' post.id %}" class="badge bg-warning">Edit</a>
                        <a href="" class="badge bg-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="alert alert-info text-center">No post available at this moment!</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block javaScript %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock javaScript %}