{% extends "blog/base.html" %}
{% load static %}

{% block side %}{% endblock side %}
{% block content %}
<div class="col-sm-4">
    <h2 class="alert alert-success mt-3 text-center ">Publish a new post</h2>
    <form novalidate method="post">
        {% csrf_token %}
        {% if form %}
            {% for field in form %}
                <div class="mb-2">
                    {{ field.label_tag }} <br>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <div class="mt-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<div class="col-sm-8">
    <h1 class="my-3">Dashboard</h1>
    <div class="card my-3 bg-dark text-white">
        {% if posts %}
        <table class="table rounded">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content|linebreaksbr  }}</td>
                    <td>
                        <a href="{% url 'editPost' post.id %}" class="badge bg-warning">Edit</a>
                        <a href="" class="badge bg-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3 class="alert alert-info text-center">No post available at this moment!</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}